
<h2>Searching for <%=@look  %>   </h2>
<h2> <%= ENV["FOOD2FORK_KEY"]   %> </h2>
<table>
 <tr>
  <th> Image </th>
  <th> Title </th>
  <th> Ranking </th>
</tr>
<% @recipes.each do |recipe| %>
<tr>
<td> <%= link_to image_tag(recipe["image_url"], height: "100", width: "100"), recipe["f2f_url"] %> </td>
<td> <%= link_to sanitize(recipe["title"]),recipe["f2f_url"] %> </td>
<td>  <%= recipe["social_rank"]  %> </td>
</tr>
 <%  end %>
</table>
